{{!-- Footer --}}

<div class="container">
    <div class="footer">
        <div class="container">
            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>Mapa de sitio</h4>
                </div>
                <div class="footer__section--body">
                    <ul class="section--sitemap">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/voluntarios">Voluntarios</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
                    <ul class="section--sitemap--dos">
                        <li><a href="/cookies">Política de Cookies</a></li>
                        <li><a href="/privacy">Política de Privacidad</a></li>
                        <li><a href="/sitemap">Mapa de sitio</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>Contacto</h4>
                </div>
                <div class="footer__section--footer">
                    <ul class="address">
                        <li>
                            <a href="https://wa.link/9j049x" target="_blank" rel="nofollow">+57 300 626 5850</a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/iRBrtNTYEDb9SMw9A" target="_blank" rel="nofollow">Calle 113 #70, Medellín - Antioquia</a>
                        </li>
                    </ul>
                    <ul class="section--social">
                        <li>
                            <a class="icon-facebook-circled" target="_blank" rel="nofollow"
                                href="https://www.facebook.com/emergenciasapoloantioquia/"></a>
                        </li>
                        <li>
                            <a class="icon-instagram" target="_blank" rel="nofollow"
                                href="https://www.instagram.com/emerapolo/"></a>
                        </li>
                        <li>
                            <a class="icon-youtube-play" target="_blank" rel="nofollow"
                            href="https://www.youtube.com/channel/UCGL3WmqYHMuEM0lvyocR-8g"></a>
                        </li>
                        <li>
                            <a class="icon-location" target="_blank" rel="nofollow"
                                href="https://goo.gl/maps/iRBrtNTYEDb9SMw9A"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>Corporación Emergencias Apolo</h4>
                </div>
                <div class="footer__section--body">
                    <a class="link__logo--footer" href="/">
                        <img src="/img/logo-apolo.png" alt="Logo k1n0" title="Logo | K1n0.com" class="logo__footer">
                    </a>
                </div>
            </div>

        </div>

        <div class="container">
            <p class="footer__right">
                Todos los derechos reservados - <a href="https://www.k1n0.com.co/" rel="nofollow"
                    target="_blank">K1N0COM 2021</a>
            </p>
        </div>

    </div>
</div>