{{!-- Carrusel --}}
<div class="carousel__desk">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/bg/apolo-bg-c.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/apolo-bg-b.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/bg/apolo-bg-a.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="carousel__videomob">
    <iframe src="https://www.youtube.com/embed/rDpluqxRnaM" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
{{!-- Fin Imágen de fondo --}}

{{!-- Intro --}}
<div class="intro">
    <div class="container">
        <div class="intro__img">
            <img src="/img/apolo-intro-home.jpg" alt="De Cortinas e Interiores" title="De Cortinas e Interiores">
        </div>
        <div class="intro__txt">
            <div class="txt__header">
                <h4>Atención rápida y con equipo profesional</h4>
                <h1>Corporación Emergencias Apolo</h1>
            </div>
            <div class="txt__body">
                <p>
                    La <strong class="strong__aq">Corporación Emergencias Apolo Antioquia</strong> es una entidad
                    encargada de atender y <strong class="strong__aq">prevenir emergencias</strong>, trabajando en
                    convenio con otros organismos de socorro.<br>
                    <br> Estamos vinculados a la Red Unida de Colombia en comunicación directa con todos los <strong
                        class="strong__aq">organismos de control del Estado</strong>.
                </p>

            </div>
        </div>
    </div>
    <div class="productos__link" id="productos"></div>
</div>
{{!-- Fin Intro --}}

{{!-- VideoBlog --}}
<div class="vb">
    <div class="vb__title text-center">
        <h4>VideoBlog</h4>
    </div>
    <div class="container">
        <div class="video__section">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rDpluqxRnaM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="text__section">
            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ad, iste molestias ea harum veritatis
                    omnis corrupti praesentium excepturi. Veniam adipisci, nisi voluptatibus tempore repellat eum
                    consectetur repellendus id iusto.</span>
                <span>Dolores cumque ratione illo. Sed necessitatibus
                    laboriosam nostrum modi quidem dolorum accusantium doloremque aperiam incidunt commodi laudantium
                    placeat rerum, consequatur quae repellendus. Quos iste maxime, itaque soluta similique possimus
                    optio?</span>
            </p>
        </div>
    </div>
</div>
{{!-- Fin VideoBlog --}}

{{!-- Conoce --}}
<div class="conoce">
    <div class="conoce__title">
        <div class="container">
            <h4>Nuestra labor</h4>
            <h3>Sin límites</h3>
        </div>
    </div>
    <div class="conoce__body">
        <div class="container">
            <div class="section__map">
                <div class="ciudades">
                    <div class="bar">
                        <div class="mun__text">
                            <p>Barbosa<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="bar-blanco" src="/img/mapa/bar-blanco.png" alt="">
                            <img class="bar-azul" src="/img/mapa/bar-azul.png" alt="">
                        </div>
                    </div>
                    <div class="girar">
                        <div class="mun__text">
                            <p>Girardota<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="girar-blanco" src="/img/mapa/girar-blanco.png" alt="">
                            <img class="girar-azul" src="/img/mapa/girar-azul.png" alt="">
                        </div>
                    </div>
                    <div class="copa">
                        <div class="mun__text">
                            <p>Copacabana<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="copa-blanco" src="/img/mapa/copa-blanco.png" alt="">
                            <img class="copa-azul" src="/img/mapa/copa-azul.png" alt="">
                        </div>
                    </div>
                    <div class="bello">
                        <div class="mun__text">
                            <p>Bello<br>
                                <i>Haz clic para expander</i>
                            </p>

                        </div>
                        <div class="mun__cont">
                            <div class="cont__title">
                                <p><strong>Sembratón en el Quitasol</strong></p>
                            </div>
                            <div class="cont__body">
                                <img src="/img/eventos/quitasol.jpg" alt="" class="map__min">
                                <p class="map__res">
                                    <i>
                                        <br>Sembratón en el Cerro Quitasol con el Área Metropolitana
                                        <br>Bello, Antioquia - 23/11/19<br>
                                    </i>
                                </p>
                            </div>
                        </div>
                        <div class="mun__img">
                            <img class="bello-blanco" src="/img/mapa/bello-blanco.png" alt="">
                            <img class="bello-azul" src="/img/mapa/bello-azul.png" alt="">
                        </div>
                    </div>
                    <div class="medellin">
                        <div class="mun__text">
                            <p>Medellin<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__cont">
                            <div class="cont__title">
                                <p><strong>Apoyo Alimentario</strong></p>
                            </div>
                            <div class="cont__body">
                                <img src="/img/eventos/oasis.jpg" alt="" class="map__min">
                                <p class="map__res">
                                    <i>
                                        <br>Apoyo alimentario a las familias del barrio El Oasis
                                        <br>Medellín, Antioquia - 23/11/19<br>
                                    </i>
                                </p>
                            </div>
                        </div>
                        <div class="mun__img">
                            <img class="medellin-blanco" src="/img/mapa/medellin-blanco.png" alt="">
                            <img class="medellin-azul" src="/img/mapa/medellin-azul.png" alt="">
                        </div>
                    </div>
                    <div class="itagui">
                        <div class="mun__text">
                            <p>Itagui<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="itagui-blanco" src="/img/mapa/itagui-blanco.png" alt="">
                            <img class="itagui-azul" src="/img/mapa/itagui-azul.png" alt="">
                        </div>
                    </div>
                    <div class="envigado">
                        <div class="mun__text">
                            <p>Envigado<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="envigado-blanco" src="/img/mapa/envigado-blanco.png" alt="">
                            <img class="envigado-azul" src="/img/mapa/envigado-azul.png" alt="">
                        </div>
                    </div>
                    <div class="estrella">
                        <div class="mun__text">
                            <p>La Estrella<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="estrella-blanco" src="/img/mapa/estrella.png" alt="">
                            <img class="estrella-azul" src="/img/mapa/estrella-azul.png" alt="">
                        </div>
                    </div>
                    <div class="sabaneta">
                        <div class="mun__text">
                            <p>Sabaneta<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="sabaneta-azul" src="/img/mapa/sabaneta-azul.png" alt="">
                            <img class="sabaneta-blanco" src="/img/mapa/sabaneta-blanco.png" alt="">
                        </div>
                    </div>
                    <div class="caldas">
                        <div class="mun__text">
                            <p>Caldas<br>
                                <i>Haz clic para expander</i>
                            </p>
                        </div>
                        <div class="mun__img">
                            <img class="caldas-azul" src="/img/mapa/caldas.png" alt="">
                            <img class="caldas-blanco" src="/img/mapa/caldas-blanco.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Conoce --}}

{{!-- Claims --}}
<div class="claims">
    <div class="container">
        <div class="claims__title">
            <h2>Valores que acreditan nuestro trabajo</h2>
        </div>

        <div class="claims__fig">
            <div class="claim-a">
                <img src="/img/claims/atencion.png" alt="Claim Asesoría" title="Asesoramiento | k1n0.com"
                    class="img__claim">
                <p class="txt__claim">Asesoramiento ágil y atención personalizada.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/calidad.png" alt="Claim Calidad" title="Calidad | k1n0.com" class="img__claim">
                <p class="txt__claim">Atención humana y alto compromiso con la vida.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/tecno.png" alt="Claim Innova" title="Innovación | k1n0.com" class="img__claim">
                <p class="txt__claim">Equipo de alta tecnología para la emergencia.</p>
            </div>
        </div>

        <div class="claims__mob">
            <div class="claim-a">
                <img src="/img/claims/atencion.png" alt="Claim Asesoría" title="Asesoramiento | k1n0.com"
                    class="img__claim">
                <p class="txt__claim">Asesoramiento humano y atención personalizada.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/calidad.png" alt="Claim Calidad" title="Calidad | k1n0.com" class="img__claim">
                <p class="txt__claim">Trabajo profesional y de calidad.</p>
            </div>

            <div class="claim-a">
                <img src="/img/claims/tecno.png" alt="Claim Innova" title="Innovación | k1n0.com" class="img__claim">
                <p class="txt__claim">Tecnologías actualizadas y funcionales.</p>
            </div>
        </div>
        <div id="contacto"></div>
    </div>
</div>
{{!-- Fin Claims --}}

{{!-- Sección Mapa --}}
<div class="section__map">
    <div class="container">
        <div class="map__title">
            <h2>Encuéntranos fácilmente</h2>
            <p>Cada vez más cerca de ti</p>
        </div>
    </div>
    <div class="map__body">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.655525304271!2d-75.56939968528287!3d6.3089062954340545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f223eee4f2b%3A0xf2577ce10afcd9e5!2sEmergencias%20Apolo%20Medell%C3%ADn!5e0!3m2!1ses-419!2sco!4v1623195059540!5m2!1ses-419!2sco"
            allowfullscreen="" loading="lazy"></iframe>
        <div class="seccion">
            <div class="map__txt--box">
                <div class="container">
                    <h3>Estamos ubicados en <strong>Medellín</strong></h3>

                    <p>
                        <br><strong>Visítanos</strong><br>
                        O pide una asesoría con nosotros<br>
                        <br><strong>Líneas de atención</strong>
                    </p>
                    <ul class="call__section">
                        <li class="icon-phone"><a href="" class="item__link">300 626 5850</a></li>
                    </ul>
                    <div class="email__map">
                        <a href="mailto:corporacionemergenciasapolo@gmail.com" rel="nofollow" target="_blank"
                            class="icon-mail">corporacionemergenciasapolo@gmail.com</a>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="boton_mapa" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Escríbenos ahora
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Formulario de Contacto</h5>
                                <a class="icon-cancel" data-bs-dismiss="modal" aria-label="Close"></a>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <form action="/registro-usuario" method="POST">
                                        <div class="mb-3">
                                            <label class="form-label">Nombre Completo*</label>
                                            <input type="text" class="form-control" name="nombre">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Correo electrónico*</label>
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Teléfono*</label>
                                            <input type="tel" class="form-control" name="phone">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Describe tu caso</label>
                                            <textarea name="description" class="form-control"></textarea>
                                        </div>
                                        <div class="mb-3 form-check">
                                            <input type="checkbox" class="form-check-input" name="checkbox" value="yes">
                                            <label class="form-check-label">
                                                He leído y acepto la <a href="">Política de privacidad</a>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-danger">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Sección Mapa --}}

{{!-- Botón whatsapp directo --}}
<div class="sticky-wp">
    <a class="enlace-wp" rel="nofollow" target="_blank" href="https://wa.link/9j049x">
        <p>Escríbenos por WhatsApp</p>
        <img src="/img/what-direct.png" alt="">
    </a>
</div>
{{!-- Fin Botón whatsapp directo --}}