.section__map {
    margin-top: 60px;
    .map__body {
        margin-top: 40px;
        margin-bottom: 0px;
        height: 740px;

        iframe {
            width: 100%;
            height: 520px;
        }

        .map__txt--box {
            position: relative;
            bottom: 500px;
            left: 980px;
            z-index: 1;
            background: $Aqua;
            color: $bl;
            width: 440px;
            height: 460px;
            padding: 40px;
            text-align: center;
            border-radius: 20px 0px 20px 0px;

            .container {
                color: $bl;
                .call__section {
                    padding: 0px 0px 0px 96px;
                    list-style: none;
                    text-align: left;
                    li {
                        list-style: none;
                        color: $bl;
                        &:hover {
                            transition: all 0.6s;
                            color: $gris;
                        }

                        a {
                            color: $bl;
                            margin-left: 4px;
                            &:hover {
                                transition: all 0.6s;
                                color: $gris;
                            }
                        }
                    }
                }

                .email__map {
                    display: flex;
                    justify-content: center;
                    a {
                        color: $bl;
                        &:hover {
                            transition: all 0.6s;
                            color: $gris;
                        }
                    }
                }
            }

            .boton_mapa {
                background: $gris;
                color: $Aqua;
                border-radius: 12px 0px;
                padding: 4px;
                margin-top: 16px;

                &:hover {
                    transition: all 0.6s;
                    background: $bl;
                }
            }

            .modal {
                .modal-dialog {
                    .modal-content {
                        color: $gris;

                        .modal-header {
                            text-align: center;
                        }

                        .modal-body {
                            text-align: left;

                            .form__req {
                                margin: 40px;
                                form {
                                    display: block;

                                    .section__form {
                                        display: flex;
                                        justify-content: space-evenly;
                                    }

                                    .mb-3 {
                                        a {
                                            color: $gris;
                                            &:hover {
                                                transition: all 0.6s;
                                                color: $Aqua;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.conoce {
    .conoce__title {
        display: flex;
        justify-content: center;
        .container {
            text-align: center;
        }
    }

    .conoce__body {
        .container {
            border: 2px solid red;
            width: 100%;
            display: flex;
            justify-content: center;

            .section__map {
                display: block;
                border: 1px solid yellow;
                width: 80%;

                .mun__text {
                    border: 1px solid blue;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .medellin {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid red;
                    margin: 10px;
                    height: 40px;

                    .mun__img {
                        .medellin-blanco {
                            position: relative;
                            bottom: 18px;
                            left: 98px;
                            border: 1px solid green;
                        }

                        .medellin-azul {
                            display: none;
                            position: relative;
                            bottom: 18px;
                            left: 98px;
                            border: 1px solid green;
                        }
                    }

                    &:hover {
                        transition: all 0.6s;
                        .mun__text {
                            transition: all 0.6s;
                            color: $Blue;
                        }

                        .mun__img {
                            transition: all 0.6s;
                            .medellin-blanco {
                                transition: all 0.6s;
                                display: none;
                            }

                            .medellin-azul {
                                transition: all 0.6s;
                                display: block;
                            }
                        }
                    }
                }

                .itagui {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid red;
                    margin: 10px;
                    height: 40px;

                    .mun__img {
                        .itagui-blanco {
                            position: relative;
                            top: 102px;
                            right: 10px;
                            border: 1px solid green;
                        }

                        .itagui-azul {
                            display: none;
                            position: relative;
                            top: 102px;
                            right: 10px;
                            border: 1px solid green;
                        }
                    }

                    &:hover {
                        transition: all 0.6s;
                        .mun__text {
                            transition: all 0.6s;
                            color: $Blue;
                        }

                        .mun__img {
                            transition: all 0.6s;
                            .itagui-blanco {
                                transition: all 0.6s;
                                display: none;
                            }

                            .itagui-azul {
                                transition: all 0.6s;
                                display: block;
                            }
                        }
                    }
                }

                .envigado {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid red;
                    margin: 10px;
                    height: 40px;

                    .mun__img {
                        .envigado-blanco {
                            position: relative;
                            left: 98px;
                            top: 54px;
                            border: 1px solid green;
                        }

                        .envigado-azul {
                            display: none;
                            position: relative;
                            left: 98px;
                            top: 54px;
                            border: 1px solid green;
                        }
                    }

                    &:hover {
                        transition: all 0.6s;
                        .mun__text {
                            transition: all 0.6s;
                            color: $Blue;
                        }

                        .mun__img {
                            transition: all 0.6s;
                            .envigado-blanco {
                                transition: all 0.6s;
                                display: none;
                            }

                            .envigado-azul {
                                transition: all 0.6s;
                                display: block;
                            }
                        }
                    }
                }

                .estrella {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid red;
                    margin: 10px;
                    height: 40px;

                    .mun__img {
                        .estrella-blanco {
                            position: relative;
                            right: 32px;
                            top: 30px;
                            border: 1px solid green;
                        }

                        .estrella-azul {
                            display: none;
                            position: relative;
                            right: 32px;
                            top: 30px;
                            border: 1px solid green;
                        }
                    }

                    &:hover {
                        transition: all 0.6s;
                        .mun__text {
                            transition: all 0.6s;
                            color: $Blue;
                        }

                        .mun__img {
                            transition: all 0.6s;
                            .estrella-blanco {
                                transition: all 0.6s;
                                display: none;
                            }

                            .estrella-azul {
                                transition: all 0.6s;
                                display: block;
                            }
                        }
                    }
                }

                .sabaneta {
                    border: 1px solid white;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                    height: 40px;

                    .mun__img {
                        .sabaneta-azul {
                            display: none;
                            border: 1px solid green;
                            position: relative;
                            top: -12px;
                            right: 10px;
                        }

                        .sabaneta-blanco {
                            border: 1px solid green;
                            position: relative;
                            top: -12px;
                            right: 10px;
                        }
                    }

                    &:hover {
                        transition: all 0.6s;
                        .mun__text {
                            transition: all 0.6s;
                            color: $Blue;
                        }

                        .mun__img {
                            transition: all 0.6s;
                            .sabaneta-blanco {
                                transition: all 0.6s;
                                display: none;
                            }

                            .sabaneta-azul {
                                transition: all 0.6s;
                                display: block;
                            }
                        }
                    }
                }

                .caldas {
                    border: 1px solid white;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                    height: 40px;

                    .mun__img {
                        .caldas-azul {
                            display: none;
                            border: 1px solid green;
                            position: relative;
                            top: -16px;
                            right: -4px;
                        }

                        .caldas-blanco {
                            border: 1px solid green;
                            position: relative;
                            top: -16px;
                            right: -4px;
                        }
                    }

                    &:hover {
                        transition: all 0.6s;
                        .mun__text {
                            transition: all 0.6s;
                            color: $Blue;
                        }

                        .mun__img {
                            transition: all 0.6s;
                            .caldas-blanco {
                                transition: all 0.6s;
                                display: none;
                            }

                            .caldas-azul {
                                transition: all 0.6s;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
