.section__map {
    margin-top: 60px;
    .map__body {
        margin-top: 40px;
        margin-bottom: 0px;
        height: 740px;

        iframe {
            width: 100%;
            height: 520px;
        }

        .map__txt--box {
            position: relative;
            bottom: 500px;
            left: 980px;
            z-index: 1;
            background: $Blue;
            color: $bl;
            width: 440px;
            height: 460px;
            padding: 40px;
            text-align: center;
            border-radius: 20px 0px 20px 0px;

            .container {
                color: $bl;
                .call__section {
                    padding: 0px 0px 0px 96px;
                    list-style: none;
                    text-align: left;
                    li {
                        list-style: none;
                        color: $bl;
                        &:hover {
                            transition: all 0.6s;
                            color: $gris;
                        }

                        a {
                            color: $bl;
                            margin-left: 4px;
                            &:hover {
                                transition: all 0.6s;
                                color: $gris;
                            }
                        }
                    }
                }

                .email__map {
                    display: flex;
                    justify-content: center;
                    a {
                        color: $bl;
                        &:hover {
                            transition: all 0.6s;
                            color: $gris;
                        }
                    }
                }
            }

            .boton_mapa {
                background: $gris;
                color: $bl;
                border-radius: 8px;
                padding: 4px;
                margin-top: 16px;

                &:hover {
                    transition: all 0.6s;
                    background: $bl;
                    color: $Blue;
                }
            }

            .modal {
                .modal-dialog {
                    .modal-content {
                        color: $gris;

                        .modal-header {
                            text-align: center;
                        }

                        .modal-body {
                            text-align: left;

                            .form__req {
                                margin: 40px;
                                form {
                                    display: block;

                                    .section__form {
                                        display: flex;
                                        justify-content: space-evenly;
                                    }

                                    .mb-3 {
                                        a {
                                            color: $gris;
                                            &:hover {
                                                transition: all 0.6s;
                                                color: $Aqua;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.conoce {
    margin-top: 60px;
    .conoce__title {
        display: flex;
        justify-content: center;
        .container {
            text-align: center;
        }
    }

    .conoce__body {
        .container {
            width: 100%;
            display: flex;
            justify-content: center;

            .section__map {
                display: block;
                width: 60%;

                .ciudades {
                    .mun__text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 60px;
                        cursor: pointer;
                        text-decoration: none;
                        p {
                            i {
                                transition: all 0.8s;
                                font-size: 8px;
                                display: none;
                            }
                        }
                    }

                    .mun__cont {
                        transition: all 0.8s;
                        display: none;
                        justify-content: center;
                        background: $Gris;
                        width: 220px;
                        height: 240px;
                        border-radius: 10px;

                        .cont__title {
                            text-align: center;
                            height: 34px;
                            padding: 6px;
                        }

                        .cont__body {
                            display: block;
                            text-align: center;
                            font-size: 10px;

                            .map__min {
                                width: 180px;
                                border-radius: 10px;
                            }
                        }
                    }

                    .bar {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .bar-blanco {
                                position: relative;
                                top: 42px;
                                left: 214px;
                            }

                            .bar-azul {
                                display: none;
                                position: relative;
                                top: 42px;
                                left: 214px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;
                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .bar-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .bar-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .girar {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .girar-blanco {
                                position: relative;
                                left: 46px;
                                top: 76px;
                            }

                            .girar-azul {
                                display: none;
                                position: relative;
                                left: 46px;
                                top: 76px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;
                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .girar-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .girar-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .copa {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .copa-blanco {
                                position: relative;
                                right: 4px;
                                top: 38px;
                            }

                            .copa-azul {
                                display: none;
                                position: relative;
                                right: 4px;
                                top: 38px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;
                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .copa-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .copa-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .bello {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .bello-blanco {
                                position: relative;
                                bottom: 18px;
                                right: 68px;
                            }

                            .bello-azul {
                                display: none;
                                position: relative;
                                bottom: 18px;
                                right: 68px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;

                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__cont {
                                transition: all 0.8s;
                                display: block;
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .bello-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .bello-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .medellin {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .medellin-blanco {
                                position: relative;
                                bottom: 14px;
                                right: 26px;
                            }

                            .medellin-azul {
                                display: none;
                                position: relative;
                                bottom: 14px;
                                right: 26px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;

                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__cont {
                                transition: all 0.8s;
                                display: block;
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .medellin-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .medellin-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .itagui {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .itagui-blanco {
                                position: relative;
                                top: 106px;
                                right: 136px;
                            }

                            .itagui-azul {
                                display: none;
                                position: relative;
                                top: 106px;
                                right: 136px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;

                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .itagui-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .itagui-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .envigado {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .envigado-blanco {
                                position: relative;
                                right: 30px;
                                top: 52px;
                            }

                            .envigado-azul {
                                display: none;
                                position: relative;
                                right: 30px;
                                top: 52px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;

                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .envigado-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .envigado-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .estrella {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .estrella-blanco {
                                position: relative;
                                right: 156px;
                                top: 32px;
                            }

                            .estrella-azul {
                                display: none;
                                position: relative;
                                right: 156px;
                                top: 32px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;

                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .estrella-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .estrella-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .sabaneta {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .sabaneta-azul {
                                display: none;
                                position: relative;
                                bottom: 10px;
                                right: 137px;
                            }

                            .sabaneta-blanco {
                                position: relative;
                                bottom: 10px;
                                right: 137px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;

                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .sabaneta-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .sabaneta-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }

                    .caldas {
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                        height: 40px;

                        .mun__img {
                            .caldas-azul {
                                display: none;
                                position: relative;
                                top: -16px;
                                right: 120px;
                            }

                            .caldas-blanco {
                                position: relative;
                                top: -16px;
                                right: 120px;
                            }
                        }

                        &:hover {
                            transition: all 0.6s;
                            .mun__text {
                                transition: all 0.6s;
                                color: $Green;

                                p {
                                    i {
                                        transition: all 0.8s;
                                        display: block;
                                    }
                                }
                            }

                            .mun__img {
                                transition: all 0.6s;
                                .caldas-blanco {
                                    transition: all 0.6s;
                                    display: none;
                                }

                                .caldas-azul {
                                    transition: all 0.6s;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .conoce {
        .conoce__body {
            .container {
                display: block;
                .section__map {
                    width: 100%;

                    .ciudades {
                        position: relative;
                        right: 116px;
                        .mun__text {
                            opacity: 0%;
                        }

                        img {
                            width: 70%;
                        }

                        .mun__cont {
                            position: relative;
                            left: 130px;
                            top: 260px;
                        }

                        .bar {
                            .mun__img {
                                .bar-blanco,
                                .bar-azul {
                                    top: 72px;
                                    left: 180px;
                                }
                            }

                            &:hover {
                                .mun__img {
                                    .bar-blanco {
                                        transition: all 0.6s;
                                        display: none;
                                        top: 72px;
                                        left: 180px;
                                    }

                                    .bar-azul {
                                        transition: all 0.6s;
                                        display: block;
                                        top: 72px;
                                        left: 180px;
                                    }
                                }
                            }
                        }

                        .girar {
                            .mun__img {
                                .girar-blanco,
                                .girar-azul {
                                    left: 16px;
                                    top: 76px;
                                }
                            }
                        }

                        .copa {
                            .mun__img {
                                .copa-blanco,
                                .copa-azul {
                                    right: 20px;
                                    top: 34px;
                                }
                            }
                        }

                        .bello {
                            .mun__img {
                                .bello-blanco,
                                .bello-azul {
                                    bottom: 22px;
                                    right: 46px;
                                }
                            }

                            &:hover {
                                .mun__img {
                                    .bello-blanco {
                                        display: none;
                                        bottom: 22px;
                                        right: 46px;
                                    }

                                    .bello-azul {
                                        display: block;
                                        bottom: 22px;
                                        right: 98px;
                                        width: 110%;
                                    }
                                }
                            }
                        }

                        .medellin {
                            .mun__img {
                                .medellin-blanco,
                                .medellin-azul {
                                    bottom: 34px;
                                    right: 0px;
                                    left: 12px;
                                }
                            }

                            &:hover {
                                .mun__img {
                                    .medellin-blanco {
                                        display: none;
                                        left: -136px;
                                        width: 184%;
                                        bottom: 28px;
                                    }

                                    .medellin-azul {
                                        display: block;
                                        left: -136px;
                                        width: 184%;
                                        bottom: 28px;
                                    }
                                }
                            }
                        }

                        .itagui {
                            .mun__img {
                                .itagui-blanco,
                                .itagui-azul {
                                    top: 36px;
                                    right: 116px;
                                }
                            }
                        }

                        .envigado {
                            .mun__img {
                                .envigado-blanco,
                                .envigado-azul {
                                    right: 22px;
                                    top: -12px;
                                }
                            }
                        }

                        .estrella {
                            .mun__img {
                                .estrella-blanco,
                                .estrella-azul {
                                    right: 130px;
                                    top: -44px;
                                }
                            }
                        }

                        .sabaneta {
                            .mun__img {
                                .sabaneta-blanco,
                                .sabaneta-azul {
                                    bottom: 88px;
                                    right: 123px;
                                }
                            }
                        }

                        .caldas {
                            .mun__img {
                                .caldas-blanco,
                                .caldas-azul {
                                    top: -106px;
                                    right: 96px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
