.apolo__servicios {
    margin-top: 60px;
    margin-bottom: 60px;
    .container {
        padding: 40px;
        .serv__body {
            .serv__section {
                .serv__item {
                    display: flex;
                    text-align: start;
                    justify-content: center;
                    align-items: center;
                    margin: 20px;
                    padding: 20px;
                    position: relative;

                    .serv__desc {
                        width: 560px;
                    }

                    .serv__img {
                        img {
                            width: 200px;
                            height: 200px;
                            border-radius: 100%;
                            border: 4px solid $bl;
                            margin-right: 20px;
                            opacity: 80%;
                            cursor: pointer;

                            &:hover {
                                transition: all 0.6s;
                                border: 4px solid $Blue;
                                opacity: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .apolo__servicios {
        .container {
            padding: 20px;
            .serv__body {
                .serv__section {
                    .serv__item {
                        display: block;
                        padding: 0px;
                        margin: 20px 0px 0px 0px;
                        text-align: center;

                        .serv__img {
                            img {
                                margin: 10px 0px 10px 0px;
                            }
                        }

                        .serv__desc {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
