<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http--equiv="X-UA-Compatible" content="ie=edhge">
    {{!-- Etiqueta de Google --}}
    {{!--
    <meta name="google-signin-client_id"
        content="Y1055161800484-756ol84aireh1398a160345sniq95i75.apps.googleusercontent.com"> --}}
    {{!-- Propiedades OG --}}
    <meta property="og:title"
        content="Corporación Emergencias Apolo | Atencion rápida en emergencias y servicios de salud">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ceapolo.herokuapp.com/">
    <meta property="og:image" content="https://ceapolo.herokuapp.com/img/logo-apolo-bl.jpg">
    <meta property="og:image:secure_url" content="https://ceapolo.herokuapp.com/img/logo-apolo-bl.jpg">
    <meta property="og:image:width" content="851">
    <meta property="og:image:height" content="315">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:local" content="es_LA">
    <meta property="og:description"
        content="Corporación Emergencias Apolo | Atencion rápida en emergencias y servicios de salud">
    <meta property="og:site_name" content="Corporación Emergencias Apolo">
    {{!--
    <meta property="fb:app_id" content="247122750125242"> --}}
    {{!-- SEO --}}
    {{!--
    <meta name="google-site-verification" content="Ljsin1yVzfgxv31NsdVzUlObTNPOn-RHEMomyfNrA1E"> --}}
    <meta name="description"
        content="Corporación Emergencias Apolo | Atencion rápida en emergencias y servicios de salud">
    <meta name="keywords" content="...">
    <meta name="author" content="k1n0">
    {{!-- Schema --}}
    {{!--
    <script
        type="application/ld+json">{"@context": "https://schema.org","@type": "Organization","url": "https://www.k1n0.com.co/","contactPoint":[{"@type": "ContactPoint","telephone": "+57-313-588-7171","contactType": "customer service"}],"address": {"@type": "PostalAddress","addressLocality": "Medellín, Colombia","postalCode": "050024","streetAddress": "Calle 1B #66-94"},"email": "kinotrance@gmail.com","faxNumber": "( 33 1) 42 68 53 01","member": [{"@type": "Organization"}],"alumni": [{"@type": "Person","name": "Edison"}],"name": "Corporación Emergencias Apolo","telephone": "( 57 4) 313 588 7171"}</script>
    --}}
    {{!-- Título --}}
    <title>Corporación Emergencias Apolo | Atencion rápida en emergencias y servicios de salud</title>
    {{!-- Google Font --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {{!-- Css --}}
    <link rel="stylesheet" href="/css/estilos.css">
    {{!-- Captcha --}}
    {{!--
    <script src="https://www.google.com/recaptcha/api.js?render=6LcAQioaAAAAABTVMAllg8UW0swpY3VaeDX9GEOv"></script> --}}
    {{!-- Favicon --}}
    <link rel="icon" type="image/ico" href="/img/favicon.ico">
    {{!-- hreflang --}}
    <link rel="alternate" hreflang="es-CO" href="https://ceapoloantioquia.herokuapp.com/" />

</head>

<body>

    {{> nav }}

    {{> message }}

    {{{ body }}}

    {{> slogan }}

    {{> footer }}

    {{!-- Jquery --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>