{{!-- Inner --}}
<img src="/img/inner-nosotros-apolo.jpg" alt="Inner Nosotros k1N0"
    title="Nosotros | Corporación Emergencias Apolo Antioquia" class="inner__nos">

<div class="carousel__videomob">
    <iframe src="https://www.youtube.com/embed/9FNrIWGysp0" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
{{!-- Fin Inner --}}

{{!-- Title --}}
<div class="nos">
    <div class="container">
        <div class="nos__header">
            <h1>Nosotros somos | Corporación Emergencias Apolo Antioquia</h1>
            <p>Una agencia de <strong>comunicación digital</strong> para la <strong>planeación estratégica</strong> y la
                <strong>visibilidad</strong> de tu negocio
            </p>
        </div>

        <div class="nos__body">

            <div class="nos__body--item">
                <div class="item--title">
                    <h3>Misión</h3>
                </div>
                <div class="item--body">
                    <img src="/img/mision.jpg" alt="Misión Corporación Emergencias Apolo Antioquia"
                        title="Corporación Emergencias Apolo Antioquia | Misión">
                    <p>
                        Apoyar a la comunidad a partir de la formación y desarrollo integral enfocado en la prevención,
                        atención de eventos de afluencia masiva, emergencias y desastres en todo Antioquia
                    </p>
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3>Visión</h3>
                </div>
                <div class="item--body" style="text-align: right;">
                    <p>
                        Ser reconocidos en el 2024 como una gran corporación que ayuda a la comunidad y al medio
                        ambiente, brindando una excelente atención primaria con equipos de alta tecnología y transporte
                        para beneficio de las personas no solo en nuestro municipio sino también en Antioquia.
                    </p>
                    <img src="/img/vision.jpg" alt="Visión Corporación Emergencias Apolo Antioquia"
                        title="Corporación Emergencias Apolo Antioquia | Visión">
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3>Nuestra Razón de Ser</h3>
                </div>
                <div class="item--body">
                    <img src="/img/valores.jpg" alt="Valores Corporación Emergencias Apolo Antioquia"
                        title="Corporación Emergencias Apolo Antioquia | Valores">
                    <p>La <strong class="strong__aq">Corporación Emergencias Apolo Antioquia</strong> fue creada con el
                        fin
                        de satisfacer las necesidades de la comunidad apoyada por voluntarios que aman servir al que lo
                        necesita
                        en <strong class="strong__aq">atención en salud, gestión social y ambiental</strong>, también
                        ayudamos con la prevención y atención del riesgo
                        en sus eventos con nuestros paramédicos y ambulancias.<br><br>
                        Conoce más de nosotros <a href="/nosotros">Aquí</a>
                    </p>
                </div>
            </div>

        </div>

        <div class="partners">
            <div class="part__title">
                <h3>Nuestros aliados</h3>
                <h4>Certifican nuestra labor</h4>
            </div>
            <div class="part__body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="aliance">
                                <a href="/" target="_blank" rel="nofollow">
                                    <img style="width: 120px;" src="/img/logo-apolo.png" alt="AJM"
                                        title="Asesorías Jurídicas Medellín">
                                    <p>
                                        Empresa Uno
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="aliance">
                                <a href="/" target="_blank" rel="nofollow">
                                    <img style="width: 120px;" src="/img/logo-apolo.png" alt="AJM"
                                        title="Asesorías Jurídicas Medellín">
                                    <p>
                                        Empresa Dos
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="aliance">
                                <a href="/" target="_blank" rel="nofollow">
                                    <img style="width: 120px;" src="/img/logo-apolo.png" alt="AJM"
                                        title="Asesorías Jurídicas Medellín">
                                    <p>
                                        Empresa Tres
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Title --}}