{{!-- Inner --}}
<img src="/img/inner-nosotros-apolo.jpg" alt="Inner Nosotros k1N0"
    title="Nosotros | Corporación Emergencias Apolo Antioquia" class="inner__nos">

<div class="carousel__videomob">
    <iframe src="https://www.youtube.com/embed/-RkMBzYwq2U" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>

<div class="apolo__servicios">
    <div class="container">
        <div class="serv__title text-center">
            <h1>Servicios | Corporación Emergencias Apolo Antioquia</h1>
            <p><strong>Conoce nuestro trabajo</strong></p>
        </div>
        <div class="serv__body">
            <div class="serv__section">
                <div class="serv__item">
                    <div class="serv__img">
                        <img src="/img/servicios/apolo-servicios-test-a.jpg" alt="">
                    </div>
                    <div class="serv__desc">
                        <p>Trabajamos en la gestion del riesgo en sus evento con apoyo de ambulancias y socorristas</p>
                    </div>
                </div>

                <div class="serv__item">
                    <div class="serv__img">
                        <img src="/img/servicios/apolo-servicios-test-b.jpg" alt="">
                    </div>
                    <div class="serv__desc">
                        <p>Atencion prehospitalaria en Emergencias y desastres </p>
                    </div>
                </div>

                <div class="serv__item">
                    <div class="serv__img">
                        <img src="/img/servicios/apolo-servicios-test-c.jpg" alt="">
                    </div>
                    <div class="serv__desc">
                        <p>Capacitaciones de primeros auxlios</p>
                    </div>
                </div>

                <div class="serv__item">
                    <div class="serv__img">
                        <img src="/img/servicios/apolo-servicios-test-a.jpg" alt="">
                    </div>
                    <div class="serv__desc">
                        <p>Trabajamos en la recuperacion de nuestras montañas, siembra de arboles.</p>
                    </div>
                </div>

                <div class="serv__item">
                    <div class="serv__img">
                        <img src="/img/servicios/apolo-servicios-test-b.jpg" alt="">
                    </div>
                    <div class="serv__desc">
                        <p>Proyectos de comunidad vulnerable</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>