{{!-- Inner --}}
<img src="/img/inner-nosotros-apolo.jpg" alt="Inner Nosotros k1N0"
    title="Nosotros | Corporación Emergencias Apolo Antioquia" class="inner__nos">

<div class="carousel__videomob">
    <iframe src="https://www.youtube.com/embed/-RkMBzYwq2U" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>


{{!-- Contenido --}}
<div class="voluntarios">
    <div class="container">
        <div class="vol__title text-center">
            <h1>Voluntarios | Corporación Emergencias Apolo Antioquia</h1>
            <p>Equipo humano, profesional y con experiencia salvando vidas en Antioquia</p>
        </div>
        <div class="vol__body">
            <div class="container">
                <div class="vol__section">
                    <div class="vol__row">
                        <div class="vol__item">
                            <div class="vol__name">
                                <h4>Capitán</h4>
                                <h3>Jeyson Herrera</h3>
                                <p><i>Fundador-Representante legal</i></p>
                            </div>
                            <div class="vol__img">
                                <img src="/img/voluntarios/jeyson-herrera.webp" alt="">
                            </div>
                            <div class="vol__desc">
                                <p>Voluntario de la corporación, Técnico en enfermería con 9 años de experiencia en
                                    emergencias y desastres en diferentes organismos de rescate de la ciudad de Medellín
                                    y EMS New York (servicio de emergencias 911), joven líder con 25 años destacado en
                                    su comunidad, nominado como voluntario del año por su trabajo continuo por la
                                    gestión del riesgo en las comunidades de la zonas vulnerables de la ciudad.</p>
                            </div>
                        </div>

                        <div class="vol__item">
                            <div class="vol__name">
                                <h4>Psicóloga</h4>
                                <h3>Mónica Betancur</h3>
                                <p><i>Psicóloga y Jefe Administrativa</i></p>
                            </div>
                            <div class="vol__img">
                                <img src="/img/voluntarios/monica.jpg" alt="">
                            </div>
                            <div class="vol__desc">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore magni eius ea
                                    repellendus alias nam nobis? Vitae dolores quas, id nisi voluptate minus
                                    perspiciatis veritatis facilis delectus odio eum ex.
                                </p>
                            </div>
                        </div>

                        <div class="vol__item">
                            <div class="vol__name">
                                <h4>Teniente</h4>
                                <h3>Julian Martinez</h3>
                                <p><i>Jefe de Seguridad y Salud</i></p>
                            </div>
                            <div class="vol__img">
                                <img src="/img/voluntarios/julian.webp" alt="">
                            </div>
                            <div class="vol__desc">
                                <p>
                                    Voluntario con 29 años, rescatista y bombero desde los 16 años, técnico profesional
                                    en atención prehospitalaria, auxiliar de enfermería y tecnologo en salud
                                    ocupacional, con un gran espíritu de ayudar a la sociedad en el desarrollo y la
                                    mitigación del riesgo, joven con espíritu de solidaridad y humanidad!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="vol__row">
                        <div class="vol__item">
                            <div class="vol__name">
                                <h4>Capitán</h4>
                                <h3>Jeyson Herrera</h3>
                                <p><i>Fundador-Representante legal</i></p>
                            </div>
                            <div class="vol__img">
                                <img src="/img/voluntarios/jeyson-herrera.webp" alt="">
                            </div>
                            <div class="vol__desc">
                                <p>Voluntario de la corporación, Técnico en enfermería con 9 años de experiencia en
                                    emergencias y desastres en diferentes organismos de rescate de la ciudad de Medellín
                                    y EMS New York (servicio de emergencias 911), joven líder con 25 años destacado en
                                    su comunidad, nominado como voluntario del año por su trabajo continuo por la
                                    gestión del riesgo en las comunidades de la zonas vulnerables de la ciudad.</p>
                            </div>
                        </div>

                        <div class="vol__item">
                            <div class="vol__name">
                                <h4>Capitán</h4>
                                <h3>Jeyson Herrera</h3>
                                <p><i>Fundador-Representante legal</i></p>
                            </div>
                            <div class="vol__img">
                                <img src="/img/voluntarios/jeyson-herrera.webp" alt="">
                            </div>
                            <div class="vol__desc">
                                <p>Voluntario de la corporación, Técnico en enfermería con 9 años de experiencia en
                                    emergencias y desastres en diferentes organismos de rescate de la ciudad de Medellín
                                    y EMS New York (servicio de emergencias 911), joven líder con 25 años destacado en
                                    su comunidad, nominado como voluntario del año por su trabajo continuo por la
                                    gestión del riesgo en las comunidades de la zonas vulnerables de la ciudad.</p>
                            </div>
                        </div>

                        <div class="vol__item">
                            <div class="vol__name">
                                <h4>Capitán</h4>
                                <h3>Jeyson Herrera</h3>
                                <p><i>Fundador-Representante legal</i></p>
                            </div>
                            <div class="vol__img">
                                <img src="/img/voluntarios/jeyson-herrera.webp" alt="">
                            </div>
                            <div class="vol__desc">
                                <p>Voluntario de la corporación, Técnico en enfermería con 9 años de experiencia en
                                    emergencias y desastres en diferentes organismos de rescate de la ciudad de Medellín
                                    y EMS New York (servicio de emergencias 911), joven líder con 25 años destacado en
                                    su comunidad, nominado como voluntario del año por su trabajo continuo por la
                                    gestión del riesgo en las comunidades de la zonas vulnerables de la ciudad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>